@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../../assets/fonts/Quicksand-Regular.otf');
}
@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../../assets/fonts/Quicksand-Bold.otf');
  font-weight: bold;
}
/* @font-face {
  font-family: 'DejaVu Sans';
  src: url('fonts/DejaVuSans-Oblique.ttf');
  font-style: italic, oblique;
}
@font-face {
  font-family: 'DejaVu Sans';
  src: url('fonts/DejaVuSans-BoldOblique.ttf');
  font-weight: bold;
  font-style: italic, oblique;
} */
