svg {
  width:100%;
  overflow:visible;
}
.wave {
  animation: wave var(--animation-speed-wave) linear;
  animation-iteration-count: infinite;
  fill: var(--color-blank);
}
@keyframes wave {
  to { transform: translateX(-100%); }
}
